node_modules
dist
build
.DS_Store
*.log
.env
.env.*
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.eslintcache
*.prettiercache
*.tsbuildinfo
*.zip
*.tar.gz
*.csv
*.xlsx
*.pdf
*.docx